<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- general application log -->
	<appender name="DogmatixLogFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="dogmatix.log" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %t [%-40.40c] %x - %m%n" />
		</layout>
	</appender>

	<logger name="net.sf">
		<level value="ERROR" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="DogmatixLogFile" />
	</root>
</log4j:configuration>