<server>

	<modules> 
		<!-- 
		<module>
			<class>com.adobe.aem.init.dogmatix.http.handlers.modules.resources.ResourcesModule</class>
			<url>files/**</url>
			<property name="repository">local</property>
			<property name="baseDir">C:\\temp</property>
			<property name="uploadLimit">5000</property>
			<property name="track">false</property>
			<property name="downloadParam">download</property>
			<property name="defaultDirPath">index.html</property>
			<property name="redirectToDefault">true</property>
			<property name="notFound">404.html</property>
			<property name="redirectToNotFound">true</property>
		</module>
		-->
		<scan>com.adobe.aem.init.dogmatix.http.handlers.modules</scan>
	</modules>

	<configs>
		<config name="HTTPPort" value="4444"></config>
		<config name="CommandPort" value="1913"></config>
		<config name="MaxThreads" value="1000"></config>
		<config name="HTTPVersion" value="1.1"></config>
		<config name="ShutdownGraceTime" value="60"></config>
		<config name="StopCommand" value="STOP"></config>
	</configs>
	
</server>