td.center {
	text-align: center;
}

#menu li.current, #submenu li.current {
	background-color: #B7E3AF;
}

#menu ul {
	list-style:none;
}

div.error {
	color:white;
}

.hidden {
	display:none;
}

.clickable {
	cursor:pointer;
}

#reader {
	overflow:auto;
	height:500px;
}

#accordion h3 {
	background-color:gray;
	cursor:pointer;
}